.footer {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(var(--white-color));
    background-color: rgb(var(--primary-color));

}
.footer__container,
.footer__top,
.footer__top-left,
.footer__logo,
.footer__top-middle,
.footer__top-right,
.footer__bottom
{
    display: flex;
    /* border: 1px solid; */
}
.footer__container {
    width: 100%;
    max-width: 1120px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.footer__top {
    width: 100%;

}
.footer__top-left {
    width: 25%;

    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.footer__logo {
    align-items: center;
    gap: 8px;
}
.footer__logo-title {
    font-family: var(--logo-font-family);
    color: rgb(var(--white-color));
}
.footer__socials-container {
    padding: 0px 0px 5px;
}
.footer__socials-title {
    
    margin-bottom: 5px;
}
.footer__top-middle {
    width: 50%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__top-right{
    width: 25%;

    flex-direction: column;
    align-items: end;
    gap: 8px;
}
.footer__top-right-title {
    width: 100%;
    text-align: center;
}
.footer__email,
.footer__telephone,
.footer__address {
    display: flex;
    align-items: start;
    gap: 4px;
}
.footer__bottom {
    width: 100%;
    border-top: 2px solid rgb(var(--white-color), 0.2);;
    justify-content: space-between;
}
.footer__link:hover {
    text-decoration: underline;
}
