.header {
    width: 100%;
    height: auto;
    border-bottom: 2px solid rgb(var(--secondary-color), 0.2);

    display: flex;
    justify-content: center;
}
.nav {
    width: 100%;
    max-width: 1120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 0 10px 0;
}
.nav__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav__logo-img {
    width: 80px;
    height: 80px;
}
.nav__logo-title {
    font-family: var(--logo-font-family);
    color: rgb(var(--secondary-color));
    font-size: var(--logo-font-size);
}
.nav__logo-title-do {
    color: rgb(var(--primary-color));
}
.nav__menu {
    display: flex;
    gap: 24px;
    list-style-type: none;
}
.nav__menu-link {
    border-radius: 24px;
    padding: 8px 15px;

    font-family: var(--body-font-family);
    font-size: var(--title-font-size);
    cursor: pointer;
    transition: all 700ms;
    
}
.nav__menu-link-cta {
    padding: 8px 20px;
    background-color: rgb(var(--secondary-color));
    border: 2px solid rgb(var(--secondary-color));
    color: rgb(var(--white-color));
    font-weight: var(--title-font-weight);
    
}
.nav__menu-link-cta:hover {
    background-color: rgb(var(--white-color));
    border: 2px solid rgb(var(--secondary-color));
    color: rgb(var(--secondary-color));
    
}
.nav__menu-link-login {
    background-color: rgb(var(--white-color));
    border: 2px solid rgb(var(--primary-color));
    color: rgb(var(--primary-color));
    font-weight: var(--title-font-weight);
}
.nav__menu-link-login:hover {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--white-color));
}
.nav__menu-link-registration {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--white-color));
    font-weight: var(--title-font-weight);
    border: 2px solid rgb(var(--primary-color));
}
.nav__menu-link-registration:hover {
    background-color: rgb(var(--white-color));
    color: rgb(var(--primary-color));
    border: 2px solid rgb(var(--primary-color));
}