.main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px 10px;
    
}
.main__container {
    width: 100%;
    max-width: 1120px;

    border: 1px solid;
}
.main__features-container {
    width: 100%;
    max-width: 1120px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main__feature-subscription {
    width: 100%;
    max-width: 500px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    padding: 16px;
    border-radius: 10px;
    /* background: rgb(var(--orange-color)); */
    background-image: url(../../assets/sun-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main__feature-subscription-title {
    text-align: center;
    color: rgb(var(--white-color));
    /* font-weight: var(--title-font-weight); */
    font-weight: 700;
    font-size: var(--title-font-size);
    line-height: 28px;
    font-style: normal;
}
.main__feature-subscription-btn {
    width:fit-content;
    height: 43px;
    border: 2px solid rgb(var(--secondary-color));
    border-radius: 24px;
    padding: 10px 15px;
    color: rgb(var(--secondary-color));
    font-weight: 600;
    font-size: 16px;
    font-family: var(--body-font-family);
    background-color: rgb(var(--white-color));
}
.main__feature-search {
    width: 100%;
    max-width: 590px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    /* background-color: rgb(var(--blue-color)); */
    background-image: url(../../assets/sky-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 16px;
    
}
.main__feature-search form{
    width: 100%;
    
}
.main__feature-search-container {
    height: 124px;
    background-color: rgb(var(--white-color), 0.7);
    padding: 16px;
    border-radius: 10px;
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    align-items: end ;
    gap: 16px;
}
#search {
    width: 100%;
    max-width: 538px;
    height: 40px;
    border-radius: 8px;
}
#main__feature-search-btn {
    width: 86px;
    height: 36px;
    border-radius: 8px;

    font-size: 16px;
    font-family: var(--body-font-family);
}
.main__cards-container {
    width: 100%;
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}
.main__cards-container-title {
    text-align: center;
    color: rgb(var(--secondary-color));
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}
.main__cards {
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.main__card {
    box-shadow: 0px 8px 8px 0 rgb(var(--black-color), 0.2);
    border-radius: 16px;
}
.main__card img {
    border-radius: 16px 16px 0px 0px;
}
.main__card-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    padding: 2px 16px;
}