.main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__features-container {
    width: 100%;
    max-width: 1120px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}
.main__features-subscription {
    width: 100%;
    max-width: 500px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    padding: 16px;
    border-radius: 10px;
    background: rgb(var(--orange-color));
}
.main__features-subscription-title {
    text-align: center;
    color: rgb(var(--white-color));
    /* font-weight: var(--title-font-weight); */
    font-weight: 700;
    font-size: var(--title-font-size);
    line-height: 28px;
    font-style: normal;
}
.main__features-subscription-btn {
    width:fit-content;
    height: 43px;
    border: 2px solid rgb(var(--secondary-color));
    border-radius: 24px;
    padding: 10px;
    color: rgb(var(--secondary-color));
    font-weight: 590;
    background-color: rgb(var(--white-color));;
}
.main__features-search {
    width: 100%;
    max-width: 590px;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    background-color: rgb(var(--blue-color));
    border-radius: 10px;
    padding: 16px;
    
}
.main__features-search form{
    width: 100%;
    
}
.main__features-search-container {
    height: 124px;
    background-color: rgb(var(--white-color), 0.7);
    padding: 16px;
    border-radius: 10px;
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    align-items: end ;
    gap: 16px;
}
#search {
    width: 100%;
    max-width: 538px;
    height: 40px;
    border-radius: 8px;
}
#main__features-search-btn {
    width: 86px;
    height: 36px;
    border-radius: 8px;
}










.main__cards-container {
    display: flex;
    flex-direction: column;
}
.main__cards {
    display: flex;
    justify-content: space-between;
}