
input[type="text"],
input[type="email"],
input[type="password"] {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

input[type="submit"] {
    width:fit-content;
    height: 44px;
    text-align: center;
    font-weight: var(--btn-font-weight);
    font-size: var(--btn-font-size);
    background-color: rgb(var(--white-color));
    color: rgb(var(--secondary-color));
    padding: 8px 15px;
    border: 2px solid rgb(var(--secondary-color));
    border-radius: 8px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(var(--secondary-color));
    border: 2px solid rgb(var(--secondary-color));
    color: rgb(var(--white-color));
}
.break {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(var(--primary-color));
    margin: 12px;
}
.checkbox-container {
    margin-bottom: 8px;
}
.g-recaptcha {
    display: flex;
    justify-content: center;
}
.tinymce-abs {
    width: 100% !important;
}
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: red;
}
.tooltip-container .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the label */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}
 /* Show tooltip text when hovering over tooltip container */
 .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
/* Tooltip arrow */
.tooltip-container .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}