@media (max-width: 768px) {
    .nav__logo-img {
        width: 60px;
        height: 60px;
    }
    .nav__menu {
        display: none;
    }
    .nav__burger-menu{
        /* display: block; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(var(--primary-color));
        width: 48px;
        height: 48px; 
        border-radius: 50%;
    }
    .main__feature-subscription, 
    .main__feature-search {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer__logo-img {
        width: 60px;
        height: 60px;
    }
    .footer__bottom {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 8px 0px;
    }

}
/* ====================================MOBILE====================================== */
@media (max-width: 600px) {
    .nav__logo-img {
        display: none;
    }


    .main__cards {
        flex-direction: column;
        justify-content: center;
    }
    .main__card, 
    .main__card-img {
        width: 100%;
    }
    .main__cards-container-title {
        font-size: 1.25em;
        text-align: end;
    }
    .main__cards-container-arrow {
        visibility: hidden;
    }
    .footer__container {
        gap: 8px;
    }
    .footer__top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .footer__top-right,
    .footer__top-middle,
    .footer__top-left {
        width: 100%;
        /* border: 1px solid; */
        justify-content: center;
        align-items: center;
    }
    .footer__socials {
        display: flex;
        justify-content: space-between;
    }
    .footer__top-right-title {
        text-align: center;
    }
    .footer__top-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__bottom {
        padding-top: 8px;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        border: 1px solid;
    }
    .datetime-group,
    .duration-group {
        flex-direction: column;
    }
    .btn-group {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}