<div class="main__container">
    <h1>Proposer une rando</h1>

    <form action="index.php?ctrl=rando&action=addNewRando" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="<?= htmlspecialchars($_SESSION['csrf_token']) ?>">
        
        <label for="randoTitle">Titre <span class="required">*</span></label>
        <input type="text" name="randoTitle" id="randoTitle" minlength="10" maxlength="255" required><br>

        <label for="randoSubtitle">Introduction <span class="required">*</span></label><br>
        <textarea id="randoSubtitle" name="randoSubtitle" rows="2" cols="70"
            placeholder="Écrivez un paragraphe accrocheur..(max 255 charactères)" minlength="10" maxlength="255"
            required></textarea><br><br>

        <label for="dateRando">Date et heure de la Rando <span class="required">*</span></label><br>
        <input type="date" id="dateRando" name="dateRando" required>
        <!-- <label for="hikeTime">Time of Hike:</label><br> -->
        <input type="time" id="timeRando" name="timeRando"><br><br>

        <label for="durationDays">Durée :</label><br>
        <input type="number" id="durationDays" name="durationDays" min="0" placeholder="jours" style="width: 70px;">
        <input type="number" id="durationHours" name="durationHours" min="0" max="24" placeholder="heures"
            style="width: 70px;"><br><br>

        <label for="distance">Distance (km) <span class="required">*</span></label><br>
        <input type="number" id="distance" name="distance" min="0" step="0.1" required><br>

        <label for="departure">Point de départ <span class="required">*</span></label><br>
        <input type="text" id="departure" name="departure" placeholder="Gare de Strasbourg.." minlength="5"
            maxlength="255" required><br><br>

        <label for="destination">Point(s) d'arrivée <span class="required">*</span></label><br>
        <input type="text" id="destination" name="destination" placeholder="Lac Blanc, Col de la Schlucht, .."
            minlength="3" maxlength="255" required><br><br>

        <label for="description">Description <span class="required">*</span></label><br>
        <textarea id="description" name="description" rows="15" cols="70"
            placeholder="Desription détaillée...(max 1500 charactères)" minlength="20" maxlength="1500"
            required></textarea><br><br>

        <label for="randoImages">Ajouter des images:</label><br><br>
        <input type="file" id="randoImages" name="image[]" multiple accept="image/*"><br><br>

        <input type="submit" name="submitRando" value="Publier la rando">
    </form>
</div>