<div class="main__container">
    <h1>Proposer une rando</h1>

    <form action="index.php?ctrl=rando&action=addNewRando" method="POST" enctype="multipart/form-data">

        <label for="randoTitle">Titre :</label>
        <input type="text" name="randoTitle" id="randoTitle" required><br>

        <label for="randoSubtitle">Introduction :</label><br>
        <textarea id="randoSubtitle" name="randoSubtitle" rows="2" cols="70" placeholder="Écrivez un paragraphe accrocheur.."
            required></textarea><br><br>

        <label for="dateRando">Date et heure de la Rando :</label><br>
        <input type="date" id="dateRando" name="dateRando" required>
        <!-- <label for="hikeTime">Time of Hike:</label><br> -->
        <input type="time" id="timeRando" name="timeRando"><br><br>

        <label for="durationDays">Durée :</label><br>
        <input type="number" id="durationDays" name="durationDays" min="0" placeholder="Days" style="width: 70px;">
        <input type="number" id="durationHours" name="durationHours" min="0" max="24" placeholder="Hours" style="width: 70px;"><br><br>

        <label for="distance">Distance (km) :</label><br>
        <input type="number" id="distance" name="distance" min="0" step="0.1"><br>

        <label for="departure">Point de départ:</label><br>
        <input type="text" id="departure" name="departure" placeholder="Gare de Strasbourg.." required><br><br>

        <label for="destination">Point(s) d'arrivée :</label><br>
        <input type="text" id="destination" name="destination" placeholder="Lac Blanc, Col de la Schlucht, .." required><br><br>

        <label for="description">Description :</label><br>
        <textarea id="description" name="description" rows="15" cols="70" placeholder="Desription détaillée..."
            required></textarea><br><br>

        <label for="randoImages">Ajouter des images:</label><br><br>
        <input type="file" id="randoImages" name="randoImages[]" multiple accept="image/*"><br><br>

        <input type="submit" name="submitRando" value="Publier la rando">
    </form>
</div>