<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="shortcut icon" href="../public/assets/favicon.png" type="image/x-icon">
    <title>Accueil</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="nav__logo">
                <!-- <img src="../public/assets/logo-hiking-100x100.png" alt="logo" class="nav__logo-img"> -->
                 <a href="#"><img src="../public/assets/logo-hiking-100x100.png" alt="logo" class="nav__logo-img"></a>
                 <!-- <h3 class="nav__logo-title">Ran<span class="nav__logo-title nav__logo-title-do">do</span></h3> -->
                 <h3><a href="#" class="nav__logo-title">Ran<span class="nav__logo-title nav__logo-title-do">do</span></a></h3>
            </div>
            <!-- <div class="nav__links">
                <a class="nav__link nav__link-cta" href="#">Publier une rando</a>
                <a class="nav__link nav__link-login" href="#">Connexion</a>
                <a class="nav__link nav__link-registration" href="#">Inscription</a>
            </div> -->
            <ul class="nav__menu">
                <li><a class="nav__menu-link nav__menu-link-cta" href="#">Publier une rando</a></li>
                <li><a class="nav__menu-link nav__menu-link-login" href="#">Connexion</a></li>
                <li><a class="nav__menu-link nav__menu-link-registration" href="#">Inscription</a></li>
            </ul>
            <div class="nav__burger-menu">
                <img src="../public/assets/burger-menu.svg" alt="Menu">
            </div>
        </nav>
    </header>

    <main class="main">
        <div class="main__container">
            <section class="main__features-container">
                <div class="main__feature-subscription">
                    <h2 class="main__feature-subscription-title">Inscrivez-vous gratuitement <br>
                    et rejoignez des randos</h2>
                    <a href="#" class="main__feature-subscription-btn">Consulter nos randos</a>
                </div>
                <div class="main__feature-search">
                    <form action="">
                        <label for="search"><h2 class="main__feature-search-label">Rechercher une rando</h2></label>
                        <div class="main__feature-search-container">
                            <input type="search" id="search" name="search" placeholder="  Ville où lieu à visiter">
                            <input type="submit" value="Search" id="main__feature-search-btn">
                        </div>
                    </form>
                </div>
            </section>
            <section class="main__cards-container">
                <div class="main__cards-container-heading" >
                    <h1 class="main__cards-container-title">Les dernières randonnées</h1>
                    <p class="main__cards-container-arrow"><a href="#">Voir tous ➔</a></p>
                </div>
                <div class="main__cards">
                    <div class="main__card">
                        <a href="" target="_blank">
                            <img class="main__card-img" src="../public/assets/forest-340x200.png" alt="Forest">
                        </a>
                        <div class="main__card-details">
                            <h3 class="main__card-title"><a href="" target="_blank">Les deux Donons</a></h3>
                            <p class="main__card-detail">
                                <img src="../public/assets/calendar.svg" alt="Calendar"> 
                                <span>13 juin 2024</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/distance.svg" alt="Distance">
                                <span>11.25 km</span>
                            </p>
                            <p class="main__card-detail">
                            <img src="../public/assets/map-pin-fill.svg" alt="Location">
                                <span>Schirmek</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/map-pin-line.svg" alt="Location">
                                <span>Temple Donon</span>
                            </p>
                        </div>                   
                    </div>
                    <div class="main__card">
                        <a href="" target="_blank">
                            <img class="main__card-img" src="../public/assets/forest-340x200.png" alt="Forest">
                        </a>
                        <div class="main__card-details">
                            <h3 class="main__card-title"><a href="" target="_blank">Les deux Donons</a></h3>
                            <p class="main__card-detail">
                                <img src="../public/assets/calendar.svg" alt="Calendar"> 
                                <span>13 juin 2024</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/distance.svg" alt="Distance">
                                <span>11.25 km</span>
                            </p>
                            <p class="main__card-detail">
                            <img src="../public/assets/map-pin-fill.svg" alt="Location">
                                <span>Schirmek</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/map-pin-line.svg" alt="Location">
                                <span>Temple Donon</span>
                            </p>
                        </div>                   
                    </div>
                    <div class="main__card">
                        <a href="" target="_blank">
                            <img class="main__card-img" src="../public/assets/forest-340x200.png" alt="Forest">
                        </a>
                        <div class="main__card-details">
                            <h3 class="main__card-title"><a href="" target="_blank">Les deux Donons</a></h3>
                            <p class="main__card-detail">
                                <img src="../public/assets/calendar.svg" alt="Calendar"> 
                                <span>13 juin 2024</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/distance.svg" alt="Distance">
                                <span>11.25 km</span>
                            </p>
                            <p class="main__card-detail">
                            <img src="../public/assets/map-pin-fill.svg" alt="Location">
                                <span>Schirmek</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/map-pin-line.svg" alt="Location">
                                <span>Temple Donon</span>
                            </p>
                        </div>                   
                    </div>
                    <div class="main__card">
                        <a href="" target="_blank">
                            <img class="main__card-img" src="../public/assets/forest-340x200.png" alt="Forest">
                        </a>
                        <div class="main__card-details">
                            <h3 class="main__card-title"><a href="" target="_blank">Les deux Donons</a></h3>
                            <p class="main__card-detail">
                                <img src="../public/assets/calendar.svg" alt="Calendar"> 
                                <span>13 juin 2024</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/distance.svg" alt="Distance">
                                <span>11.25 km</span>
                            </p>
                            <p class="main__card-detail">
                            <img src="../public/assets/map-pin-fill.svg" alt="Location">
                                <span>Schirmek</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/map-pin-line.svg" alt="Location">
                                <span>Temple Donon</span>
                            </p>
                        </div>                   
                    </div>
                    <div class="main__card">
                        <a href="" target="_blank">
                            <img class="main__card-img" src="../public/assets/forest-340x200.png" alt="Forest">
                        </a>
                        <div class="main__card-details">
                            <h3 class="main__card-title"><a href="" target="_blank">Les deux Donons</a></h3>
                            <p class="main__card-detail">
                                <img src="../public/assets/calendar.svg" alt="Calendar"> 
                                <span>13 juin 2024</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/distance.svg" alt="Distance">
                                <span>11.25 km</span>
                            </p>
                            <p class="main__card-detail">
                            <img src="../public/assets/map-pin-fill.svg" alt="Location">
                                <span>Schirmek</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/map-pin-line.svg" alt="Location">
                                <span>Temple Donon</span>
                            </p>
                        </div>                   
                    </div>
                    <div class="main__card">
                        <a href="" target="_blank">
                            <img class="main__card-img" src="../public/assets/forest-340x200.png" alt="Forest">
                        </a>
                        <div class="main__card-details">
                            <h3 class="main__card-title"><a href="" target="_blank">Les deux Donons</a></h3>
                            <p class="main__card-detail">
                                <img src="../public/assets/calendar.svg" alt="Calendar"> 
                                <span>13 juin 2024</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/distance.svg" alt="Distance">
                                <span>11.25 km</span>
                            </p>
                            <p class="main__card-detail">
                            <img src="../public/assets/map-pin-fill.svg" alt="Location">
                                <span>Schirmek</span>
                            </p>
                            <p class="main__card-detail">
                                <img src="../public/assets/map-pin-line.svg" alt="Location">
                                <span>Temple Donon</span>
                            </p>
                        </div>                   
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer">
        <div class="footer__container">
            <div class="footer-top">
                <div class="footer__top-left">
                    <div class="footer__logo">
                        <a href="#">
                            <img src="../public/assets/logo-hiking-100x100.png" alt="logo">
                        </a>
                        <h3><a href="" class="footer__logo-title">Rando</a></h3>
                    </div>
                    <!-- <p>Votre plateforme de choix des randonnées</p> -->
                    <div class="footer__socials-container">
                        <p class="footer__socials-title">Retrouvez-nous sur</p>
                        <div class="footer__socials">
                            <a href="https://www.linkedin.com/">
                                <img src="../public/assets/linkedin.svg" alt="Linkedin" class="footer__social-icon">
                            </a>
                            <a href="https://www.facebook.com/">
                                <img src="../public/assets/facebook.svg" alt="Facebook" class="footer__social-icon">
                            </a>
                            <a href="https://www.instagram.com/">
                                <img src="../public/assets/instagram.svg" alt="Instagram" class="footer__social-icon">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__top-middle">
                    <a href="#" class="footer__link">À propos</a>
                    <p>Logo generated by <a href="https://www.freepik.com/" class="footer__link">Freepik</a></p>
                </div>
                <address class="footer__top-right">
                    <p>Contact</p>
                    <div class="footer__email">
                        <img src="../public/assets/email.svg" alt="Email" class="footer__social-icon">
                        <p>rando@example.com</p>
                    </div>
                    <div class="footer__telephone">
                        <img src="../public/assets/phone.svg" alt="Phone" class="footer__social-icon">
                        <p>+33 1 23 45 67 89</p>
                    </div>
                    <div class="footer__address">
                        <img src="../public/assets/map-pin.svg" alt="Location" class="footer__social-icon">
                        <p>1 rue de la Gare, <br> 67000 Alsace <br> France</p>
                    </div>
                </address>
            </div>
            <div class="footer__bottom">
                <p>
                    &copy; 
                    <?= date_create("now")->format("Y") ?> 
                    Rando LLC Tous droits réservés
                </p>
                <p><a href="" class="footer__link">Conditions générales d’utilisation</a></p>
                <p><a href="" class="footer__link">Mentions légales</a> </p>
                <p><a href="" class="footer__link">Politique de confidentialité</a></p>
            </div>
        </div>
    </footer>

</body>
</html>